media/UserImages/
media/CompanyLogo/
media/CoffeeImages/
media/BackgroundImages/
media/CoverImages/
media/NotificationsImages/


apps/accounts/__pycache__/
apps/coffee/__pycache__/
apps/contacts/__pycache__/
apps/orders/__pycache__/
apps/coupon_code/__pycache__/
apps/notifications/__pycache__/


apps/accounts/migrations/__pycache__/
apps/coffee/migrations/__pycache__/
apps/contacts/migrations/__pycache__/
apps/orders/migrations/__pycache__/
apps/coupon_code/migrations/__pycache__/
apps/notifications/migrations/__pycache__/

*pyc

turtle_beans/__pycache__/

COF_price.txt

.idea
.idea/

nohup.out

script_city.py


/.gitignore~
